#!/usr/bin/env bash
# {{- if .blue -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

if ! [ -f /etc/yum.repos.d/vscode.repo ]; then
  log_task "Adding VS Code repo"

  c sudo tee /etc/yum.repos.d/vscode.repo > /dev/null <<EOF
[code]
name=Visual Studio Code
baseurl=https://packages.microsoft.com/yumrepos/vscode
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc
EOF
fi

if ! command -v code &>/dev/null; then
  log_task "Installing VS Code"

  c sudo rpm-ostree install code
fi

if ! [ -f /etc/yum.repos.d/terra.repo ]; then
  log_task "Adding terra repo"
  c curl -fsSL https://github.com/terrapkg/subatomic-repos/raw/main/terra.repo | sudo tee /etc/yum.repos.d/terra.repo > /dev/null
  c sudo rpm-ostree install terra-release
fi

if ! command -v zed &>/dev/null; then
  log_task "Installing zed"
  c sudo rpm-ostree install zed
fi

if ! [ -f /etc/yum.repos.d/ghostty.repo ]; then
  log_task "Adding ghostty repo"
  c curl -fsSL https://copr.fedorainfracloud.org/coprs/pgdev/ghostty/repo/fedora-rawhide/pgdev-ghostty-fedora-rawhide.repo | sudo tee /etc/yum.repos.d/ghostty.repo > /dev/null
fi

if ! command -v ghostty &>/dev/null; then
  log_task "Installing ghostty"
  c sudo rpm-ostree install ghostty
fi
# {{- end -}}
