#!/usr/bin/env bash
# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

if command -v pnpm &>/dev/null; then
  log_task "Installing node packages"

{{ range .packages.node }}
  pnpm add -g {{ . | quote }}
{{ end -}}

fi
