#!/usr/bin/env bash
# {{- if .server -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

log_task "Installing packages"

c sudo apt update -y
c sudo apt upgrade -y

{{ range .packages.apt }}
sudo apt install -y {{ . | quote }}
{{ end -}}

# {{- end -}}
