#!/usr/bin/env bash
# {{- if .blue -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

log_task "Installing python packages"

# {{ range .packages.python -}}
# shellcheck disable=SC1083
c uv tool install -q {{ . | quote }}
# {{ end -}}

# {{- end -}}
