#!/usr/bin/env bash
# {{- if .headless -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

if ! command -v cargo &>/dev/null; then
  log_task "Installing rust and cargo"
  c curl https://sh.rustup.rs -sSf | sh
fi

# {{- end -}}
