#!/usr/bin/env bash
# {{- if .blue -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

if ! [ -f /etc/yum.repos.d/vscode.repo ]; then
  log_task "Adding VS Code repo"

  c sudo tee /etc/yum.repos.d/vscode.repo >/dev/null <<EOF
[code]
name=Visual Studio Code
baseurl=https://packages.microsoft.com/yumrepos/vscode
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc
EOF
fi

if ! command -v code &>/dev/null; then
  log_task "Installing VS Code"

  c sudo rpm-ostree install code
fi

if ! [ -f /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:pgdev:ghostty.repo ]; then
  log_task "Adding ghostty repo"
  c sudo tee /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:pgdev:ghostty.repo >/dev/null <<EOF
[copr:copr.fedorainfracloud.org:pgdev:ghostty]
name=Copr repo for Ghostty owned by pgdev
baseurl=https://download.copr.fedorainfracloud.org/results/pgdev/ghostty/fedora-\$releasever-\$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://download.copr.fedorainfracloud.org/results/pgdev/ghostty/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
EOF
fi

if ! command -v ghostty &>/dev/null; then
  log_task "Installing ghostty"
  c sudo rpm-ostree install ghostty
fi
# {{- end -}}
