#!/usr/bin/env bash
# {{- if eq .de "gnome" -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

gsettings_ensure org.gnome.desktop.interface monospace-font-name "{{- .font.mono }} 11"
gsettings_ensure org.gnome.desktop.interface font-name "{{- .font.sans }} 11"
gsettings_ensure org.gnome.desktop.interface document-font-name "{{- .font.sans }} 11"

gsettings_ensure org.gnome.Ptyxis use-system-font false
gsettings_ensure org.gnome.Ptyxis font-name "{{- .font.terminal }} 12"
gsettings_ensure org.gnome.Ptyxis cursor-shape "ibeam"

gsettings_ensure org.gnome.desktop.interface color-scheme "prefer-dark"
gsettings_ensure org.gnome.desktop.interface cursor-theme "Bibata Modern Classic"

gsettings_ensure org.gnome.settings-daemon.plugins.color night-light-enabled true
gsettings_ensure org.gnome.desktop.peripherals.mouse accel-profile "flat"

gsettings_ensure org.gnome.desktop.interface clock-show-date "true"
gsettings_ensure org.gnome.desktop.interface clock-show-weekday "true"

gsettings_ensure org.gnome.desktop.datetime automatic-timezone "true"

gsettings_ensure org.gnome.desktop.privacy remember-recent-files "false"
gsettings_ensure org.gnome.desktop.privacy remove-old-temp-files "true"
gsettings_ensure org.gnome.desktop.privacy remove-old-trash-files "true"

dconf_ensure /org/gnome/TextEditor/restore-session "'false'"

dconf_ensure /org/gtk/settings/file-chooser/clock-format "'12h'"

dconf_ensure /org/gnome/desktop/search-providers/enabled "['org.gnome.Calculator.desktop', 'page.kramo.Cartridges.desktop', 'org.gnome.Characters.desktop', 'com.github.finefindus.eyedropper.desktop']"

dconf_ensure /org/gnome/desktop/input-sources/xkb-options "['caps:backspace']"

dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/name "'Terminal'"
dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/command "'ghostty'"
dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/binding "'<Control><Alt>t'"

dconf_ensure /org/gnome/Ptyxis/cursor-shape "'ibeam'"
dconf_ensure /org/gnome/Ptyxis/Shortcuts/move-next-tab "'<Control>Tab'"
dconf_ensure /org/gnome/Ptyxis/Shortcuts/move-previous-tab "'<Control><Shift>Tab'"

dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/name "'Emoji'"
dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/command "'flatpak run com.tomjwatson.Emote'"
# {{ if eq .device_type "laptop" }}
dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/binding "'<Shift><Control><Alt><Super>space'"
# {{ else }}
dconf_ensure /org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/binding "'<Super>period'"
# {{ end }}

dconf_ensure /org/gnome/desktop/wm/keybindings/move-to-workspace-left "['<Shift><Super>bracketleft']"
dconf_ensure /org/gnome/desktop/wm/keybindings/move-to-workspace-right "['<Shift><Super>bracketright']"
dconf_ensure /org/gnome/desktop/wm/keybindings/switch-to-workspace-left "['<Super>bracketleft']"
dconf_ensure /org/gnome/desktop/wm/keybindings/switch-to-workspace-right "['<Super>bracketright']"

dconf_ensure /org/gnome/shell/favorite-apps "['app.zen_browser.zen.desktop', 'org.gnome.Nautilus.desktop', 'md.obsidian.Obsidian.desktop']"
# {{- end -}}
