#!/usr/bin/env bash
# {{- if eq .de "gnome" -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

function is_gnome_extension_installed() {
  local extension="$1"

  # https://github.com/essembeh/gnome-extensions-cli/issues/29
  gext list --all | sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g' | grep --quiet "(${extension})"
}

function is_gnome_extension_enabled() {
  local extension="$1"

  # https://github.com/essembeh/gnome-extensions-cli/issues/29
  gext list | sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g' | grep --quiet "(${extension})"
}

# Extensions to install and enable
wanted_extensions=(
  AlphabeticalAppGrid@stuarthayhurst
  azwallpaper@azwallpaper.gitlab.com
  clipboard-history@alexsaveau.dev
  hotedge@jonathan.jdoda.ca
  mediacontrols@cliffniff.github.com
  rounded-window-corners@fxgn
  # {{ if eq .device_type "laptop" }}
  screen-rotate@shyzus.github.io
  # {{ end }}
)

# Extensions to uninstall
unwanted_extensions=()

# Extensions to disable
disabled_extensions=(
  apps-menu@gnome-shell-extensions.gcampax.github.com
  background-logo@fedorahosted.org
  compiz-alike-magic-lamp-effect@hermes83.github.com
  compiz-windows-effect@hermes83.github.com
  dash-to-dock@micxgx.gmail.com
  gamerzilla@gamerzilla.identicalsoftware.com
  hanabi-extension@jeffshee.github.io
  launch-new-instance@gnome-shell-extensions.gcampax.github.com
  logomenu@aryan_k
  places-menu@gnome-shell-extensions.gcampax.github.com
  user-theme@gnome-shell-extensions.gcampax.github.com
  window-list@gnome-shell-extensions.gcampax.github.com
)

# Init before loop. Leave this empty.
missing_extensions=()

if ! command -v gext >/dev/null; then
  log_task "Installing gnome-extensions-cli"
  c pip install --force gnome-extensions-cli
fi

for extension in "${wanted_extensions[@]}"; do
  # shellcheck disable=SC2310
  if ! is_gnome_extension_installed "${extension}"; then
    missing_extensions+=("${extension}")
  fi
done

if [[ ${#missing_extensions[@]} -gt 0 ]]; then
  log_task "Installing GNOME extensions"
  gext install "${missing_extensions[@]}"
fi

for extension in "${disabled_extensions[@]}"; do
  if is_gnome_extension_enabled "${extension}"; then
    log_task "Disabling GNOME extension: ${extension}"
    gext disable "${extension}"
  fi
done

for extension in "${wanted_extensions[@]}"; do
  if ! is_gnome_extension_enabled "${extension}"; then
    log_task "Enabling GNOME extension: ${extension}"
    gext enable "${extension}"
  fi
done

for extension in "${unwanted_extensions[@]}"; do
  if is_gnome_extension_installed "${extension}"; then
    log_task "Uninstalling GNOME extension: ${extension}"
    gext uninstall "${extension}"
  fi
done

# Wallpaper Slideshow
gsettings_ensure org.gnome.shell.extensions.azwallpaper slideshow-directory "{{ .chezmoi.homeDir }}/Pictures/Wallpapers/Gruvbox" azwallpaper@azwallpaper.gitlab.com
gsettings_ensure org.gnome.shell.extensions.azwallpaper slideshow-slide-duration "(1, 0, 0)" azwallpaper@azwallpaper.gitlab.com
# Just Perfection
gsettings_ensure org.gnome.shell.extensions.just-perfection window-demands-attention-focus "false"
gsettings_ensure org.gnome.shell.extensions.just-perfection world-clock "false"
gsettings_ensure org.gnome.shell.extensions.just-perfection search "false"
gsettings_ensure org.gnome.shell.extensions.just-perfection workspaces-in-app-grid "false"
gsettings_ensure org.gnome.shell.extensions.just-perfection clock-menu-position "0"          # Center
gsettings_ensure org.gnome.shell.extensions.just-perfection notification-banner-position "1" # Center
# {{- end -}}
