#!/usr/bin/env bash
# {{- if eq .de "gnome" -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

# Run when MoreWaita or Adwaita-colors update
# {{ output "git" "-C" (joinPath .chezmoi.homeDir ".local/share/icons/MoreWaita") "rev-parse" "HEAD" }}
# {{ (gitHubLatestRelease "dpejoh/Adwaita-colors").TagName}}
sh -ec "$(curl -fsSl 'https://raw.githubusercontent.com/dpejoh/Adwaita-colors/main/MoreWaita.sh')"> /dev/null 2>&1
# {{- end -}}
