#!/usr/bin/env bash
# {{- if and (eq .chezmoi.os "linux") (not .server) -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

if [ ! -f "$HOME/.local/share/applications/ftwa-youtube-music.desktop" ]; then
  log_task "Adding YouTube Music shortcut"
  sh -ec "$(curl -fsSL 'https://ftwa.mathix.dev/v/yt-music?os=linux&bw=brave&path=%2Fusr%2Fbin%2Fbrave-browser')"
fi

if [ ! -f "$HOME/.local/share/applications/ftwa-cyberchef.desktop" ]; then
  log_task "Adding CyberChef shortcut"
  sh -ec "$(curl -fsSL 'https://ftwa.mathix.dev/v/cyber-chef?os=linux&bw=brave&path=%2Fusr%2Fbin%2Fbrave-browser')"
fi
# {{- end -}}
