#!/usr/bin/env bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

if [ ! -f "$HOME/.config/fish/functions/fisher.fish" ]; then
    log_task "Installing fisher"
    c fish -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"
fi
