fish_add_path {{ .chezmoi.homeDir }}/.local/bin
if test -d {{ .chezmoi.homeDir }}/node_modules/.bin
    fish_add_path {{ .chezmoi.homeDir }}/node_modules/.bin
end
if test -d {{ .chezmoi.homeDir }}/.cargo/bin
  fish_add_path {{ .chezmoi.homeDir }}/.cargo/bin
end
