[include]
path = alias
path = color

[user]
name = Jeremiah
email = 44993244+jechton@users.noreply.github.com

{{ if not .server -}}
[url "ssh://git@github.com"]
insteadOf = https://github.com
{{ end }}
{{$ghPath := lookPath "gh" -}}
{{- if $ghPath -}}
[credential "ssh://github.com"]
helper = !{{ $ghPath }} auth git-credential
{{- end }}
[credential]
helper = cache --timeout 21600 # six hours

[init]
defaultBranch = "main"

[help]
autocorrect = immediate

[fetch]
prune = true

[pull]
rebase = true

[commit]
verbose = true

[absorb]
maxStack=100

[push]
default = current
autoSetupRemote = true

[merge]
conflictstyle = zdiff3

[rebase]
autostash = true
autosquash = true
updateRefs = true
missingCommitsCheck = error

[rerere]
enabled = true

[sequence]
editor = interactive-rebase-tool

[difftool "difftastic"]
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[diff]
  external = difft --display=inline
  tool = difftastic

[pager]
  difftool = true
{{- /* vim: set filetype=gitconfig: */ -}}
