[include]
path = alias
path = color

[user]
name = Jeremiah
email = jechton@noreply.localhost
{{ if not .headless -}}
signingkey = ~/.ssh/id_ed25519.pub
{{- end }}

[includeIf "gitdir:~/.local/share/chezmoi"]
path = config-github

[includeIf "gitdir:~/Projects/GitHub/"]
path = config-github

{{ if not .headless -}}
[url "ssh://git@github.com"]
insteadOf = https://github.com

[url "ssh://git@git.gay"]
insteadOf = https://git.gay
{{- end }}

{{$ghPath := lookPath "gh" -}}
{{- if $ghPath -}}
[credential "ssh://github.com"]
helper = !{{ $ghPath }} auth git-credential
{{- end }}

[credential]
helper = cache --timeout 21600 # six hours

[init]
defaultBranch = "main"

[gpg]
format = ssh

[alias]
# Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
# `git log` with patches shown with difftastic.
dlog = -c diff.external=difft log -p --ext-diff
# Show the most recent commit with difftastic.
dshow = -c diff.external=difft show --ext-diff
# `git diff` with difftastic.
ddiff = -c diff.external=difft diff

# shorter versions of above
dl = -c diff.external=difft log -p --ext-diff
ds = -c diff.external=difft show --ext-diff
dft = -c diff.external=difft diff

[help]
autocorrect = immediate

[fetch]
prune = true

[pull]
rebase = true

[commit]
verbose = true
{{ if not .headless -}}
gpgsign = true
{{- end }}

[absorb]
maxStack=100

[push]
default = current
autoSetupRemote = true

[merge]
conflictstyle = zdiff3

[rebase]
autostash = true
autosquash = true
updateRefs = true
missingCommitsCheck = error

[rerere]
enabled = true

[sequence]
editor = interactive-rebase-tool

[difftool "difftastic"]
cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[diff]
external = difft --display=inline
tool = difftastic

[pager]
difftool = true
