[Desktop Entry]
Version=1.0
Name=YouTube Music
Comment=Web App
Exec=brave-browser --app="https://music.youtube.com" --class=WebApp-YouTubeMusic0392 --name=WebApp-YouTubeMusic0392
Terminal=false
X-MultipleArgs=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/ice/icons/YouTubeMusic.png
Categories=GTK;AudioVideo;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-YouTubeMusic0392
StartupNotify=true
X-WebApp-Browser=Brave Browser
X-WebApp-URL=https://music.youtube.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=false

