[Desktop Entry]
Version=1.0
Name=Bluesky
Comment=Web App
Exec=brave-browser --app="https://bsky.app" --class=WebApp-Bluesky1190 --name=WebApp-Bluesky1190
Terminal=false
X-MultipleArgs=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/ice/icons/Bluesky.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Bluesky1190
StartupNotify=true
X-WebApp-Browser=Brave Browser
X-WebApp-URL=https://bsky.app
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=false
