## Source custom configs
for file in $__fish_config_dir/custom.d/*.fish
    source $file
end

## Launch atuin
if status is-interactive
    if command -qs atuin
        atuin init fish | source
    end
end

starship init fish | source
enable_transience

# pnpm
set -gx PNPM_HOME "{{ .chezmoi.homeDir }}/.local/share/pnpm"
if not string match -q -- $PNPM_HOME $PATH
    set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end
