jorgebucaran/fisher
meaningful-ooo/sponge
nickeb96/puffer-fish
jorgebucaran/autopair.fish
oh-my-fish/plugin-license
oh-my-fish/plugin-gi
kidonng/zoxide.fish
ilancosman/tide@v6
{{ if ne .chezmoi.os "android" -}}
oh-my-fish/plugin-thefuck
oh-my-fish/plugin-brew
patrickf1/fzf.fish
{{- end}}
