## Source custom configs
for file in $__fish_config_dir/custom.d/*.fish
    source $file
end

function starship_transient_prompt_func
    starship module character
end
starship init fish | source
enable_transience

# pnpm
set -gx PNPM_HOME "{{ .chezmoi.homeDir }}/.local/share/pnpm"
if not string match -q -- $PNPM_HOME $PATH
    set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end
