jorgebucaran/autopair.fish
jorgebucaran/fisher
meaningful-ooo/sponge
nickeb96/puffer-fish
oh-my-fish/plugin-gi
oh-my-fish/plugin-license
jorgebucaran/nvm.fish
{{ if ne .chezmoi.os "android" -}}
patrickf1/fzf.fish
{{- end}}
edc/bass
