#!/usr/bin/env chezmoi_modify_manager

source auto

set "Greeter][Wallpaper][org.kde.slideshow][General" "SlidePaths" "/home/{{.chezmoi.username}}/Pictures/Wallpapers/Gruvbox/" separator="="
ignore regex ".*" "Image"
